/* Reset default margins */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fff;
  color: #8f191d; /* Dark red text */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

button {
  background-color: #03505d; /* Teal button */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

input, textarea {
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.container {
  background-color: #fdf6e3; /* light wheat background */
  padding: 30px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  text-align: center;
}
h1 {
  margin-bottom: 20px;
  font-weight: 600;
}